# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
local_settings.py

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# IDEs
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Static and media (if generated dynamically)
staticfiles/
media/
